<h1>Create Item</h1>

<form action="/items/create" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <textarea name="desc" id="desc" cols="30" rows="5"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>
</form>
